@import "fonts.scss";

//----- fonts
$muller-reg: 'MullerRegular';
$muller-bold: 'MullerBold';
$muller-light: 'MullerLight';
$muller-med: 'MullerMedium';

// ----- media
$break-phone: 320px;
$break-tablet-l: 767px;
$break-tablet-p: 1024px;
$break-large: 1200px;

body {
    font-size: 16px;
    font-family: $muller-reg !important;
    padding-bottom: 60px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

h1,
h3,
h4,
h2,
h5 {
    font-weight: bold;
    font-family: $muller-bold;
    text-transform: uppercase;
}

h1 {
    font-size: 46px;
    @media screen and (max-width: $break-tablet-l) {
      font-size: 36px;
    }
}

b, strong {
    font-family: $muller-bold;
}

i {
    font-family: $muller-light;
}

a {
  color: #000;
  &:hover {
    color: #000;
  }
}

.top-space {
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 5%;
  margin-right: 5%;
}

.page-home {
    .header {
        .search-form {
            display: block;
        }
    }
}

.search-form {
    input {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #E6E6E6;
        border-radius: 0;

        &:focus {
            border-color: #333;
            box-shadow: inherit;
        }
    }

    @media screen and (max-width: $break-tablet-l) {
      display: none !important;
    }
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    .row {
        margin-bottom: 80px;
    }
    a {
        color: #337ab7;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    ul {
        padding: 0 17px;
        margin: 0;
    }
}

.mobile-menu {
  background: #000;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  transform: scaleX(0);

  &.opened {
    transform: scaleX(1);
  }

  .menu {
    margin: 96px 45px 40px;
    font-size: 22px;
    .category-title {
      color: #fff;
      font-size: 30px;
    }
    a {
      &:hover {
        color: #fff;
      }
    }
    li {
      line-height: 45px;
    }
    .page {
      &.active {
        a {
          color: #fff;
        }
      }
    }
  }
}

.fixed-content {
  position: fixed;
}

.header {
    background: #fff;
    color: #000;
    a {
        color: #000;
        &:hover {
            color: #000;

        }
    }

    .logo {
        text-transform: uppercase;
    }

  .menuButton {
    z-index: 100;
    float: right;
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    display: none;

    @media screen and (max-width: $break-tablet-l) {
      display: block;
    }

    &.open {
      .menuButton__line {
        background-color: #fff;
        &_top {
          transform: scale(1) rotate(-45deg) translate(-1px,2px);
        }
        &_bottom {
          transform: scale(1) rotate(45deg) translateY(4px);
        }
      }
    }

    &.hovered:not(.open) {
      .menuButton__line {
        &_bottom {
          transform: scaleX(1);
        }
      }
    }

    .menuButton__line {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      will-change: transform;
      background-color: #000;
      transition: -webkit-transform .35s;
      transition: transform .35s;
      transition: transform .35s,-webkit-transform .35s;
      box-shadow: 1px 1px 1px transparent;
      -webkit-backface-visibility: hidden;

      &_top {
        top: 6px;
      }

      &_bottom {
        top: 12px;
        transform: scaleX(.62);
        transform-origin: right bottom
      }
    }
  }
}

.home-search {
    &.jumbotron {
        background-color: #fff;

        h1 {
            position: relative;
            &::after {
                content: " ";
                width: 80px;
                height: 7px;
                background-color: #333;
                position: absolute;
                bottom: -28px;
                left: 50%;
                margin-left: -40px;
            }
        }
    }
}

.filler-empty {
    h2 {
        font-size: 50px;
        color: #dfe1e6;
        margin: 0;
    }
}

.flex-aligment-center {
    display: flex;
    font-family: $muller-med;

    @media screen and (max-width: $break-tablet-l) {
      display: block;
      text-align: center;

      img {
        float: left;
      }
    }
}

.content {
    border: none;
    box-shadow: none;

    pre {
        background-color: #f5f5f5;
    }

    @media screen and (max-width: $break-tablet-l) {
      padding: 0px;
      margin: 20px 0;
    }

}

.CodeMirror {
    pre {
        background-color: transparent;
    }
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000;


    .copyright {
        margin: 20px 40px;
        color: #fff;
        a {
          color: #666;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
    }
}

.last-updated {
    color: #b9b9b9;
    font-size: 10px;
    @media screen and (max-width: $break-tablet-p) {
      padding-bottom: 18px;
      text-align: left;
    }
}

.menu {
    margin: 96px 45px 40px;
    .category-title {
        font-size: 14px;
    }

    @media screen and (max-width: $break-tablet-p) {
      margin: 96px 0px 40px;
    }
}

.hljs {
    &-keyword {
        color: #b24fb9;
    }

    &-string {
        color: #73ad4f;
    }

    &-number {
        color: #ff6f40;
    }
}


.page-excerpt {
    .search-query {
        background: #fff000;
    }
}

.form-top-right {
  width: 50px;
  padding-right:20px;
}
