@font-face {
  font-family: 'MullerBold';
  src: url("/fonts/Muller/MullerBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller/MullerBold.otf") format("opentype"), url("/fonts/Muller/MullerBold.woff") format("woff"), url("/fonts/Muller/MullerBold.ttf") format("truetype"), url("/fonts/Muller/MullerBold.svg#MullerBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MullerLight';
  src: url("/fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller/MullerLight.otf") format("opentype"), url("/fonts/Muller/MullerLight.woff") format("woff"), url("/fonts/Muller/MullerLight.ttf") format("truetype"), url("/fonts/Muller/MullerLight.svg#MullerLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MullerMedium';
  src: url("/fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller/MullerMedium.otf") format("opentype"), url("/fonts/Muller/MullerMedium.woff") format("woff"), url("/fonts/Muller/MullerMedium.ttf") format("truetype"), url("/fonts/Muller/MullerMedium.svg#MullerMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MullerRegular';
  src: url("/fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller/MullerRegular.otf") format("opentype"), url("/fonts/Muller/MullerRegular.woff") format("woff"), url("/fonts/Muller/MullerRegular.ttf") format("truetype"), url("/fonts/Muller/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 16px;
  font-family: "MullerRegular" !important;
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box; }

h1,
h3,
h4,
h2,
h5 {
  font-weight: bold;
  font-family: "MullerBold";
  text-transform: uppercase; }

h1 {
  font-size: 46px; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 36px; } }

b, strong {
  font-family: "MullerBold"; }

i {
  font-family: "MullerLight"; }

a {
  color: #000; }
  a:hover {
    color: #000; }

.top-space {
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 5%;
  margin-right: 5%; }

.page-home .header .search-form {
  display: block; }

.search-form input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 0; }
  .search-form input:focus {
    border-color: #333;
    box-shadow: inherit; }

@media screen and (max-width: 767px) {
  .search-form {
    display: none !important; } }

.container-fluid {
  padding-left: 5%;
  padding-right: 5%; }

.container .row {
  margin-bottom: 80px; }

.container a {
  color: #337ab7; }
  .container a:hover {
    color: #000;
    text-decoration: none; }

.container ul {
  padding: 0 17px;
  margin: 0; }

.mobile-menu {
  background: #000;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  transform: scaleX(0); }
  .mobile-menu.opened {
    transform: scaleX(1); }
  .mobile-menu .menu {
    margin: 96px 45px 40px;
    font-size: 22px; }
    .mobile-menu .menu .category-title {
      color: #fff;
      font-size: 30px; }
    .mobile-menu .menu a:hover {
      color: #fff; }
    .mobile-menu .menu li {
      line-height: 45px; }
    .mobile-menu .menu .page.active a {
      color: #fff; }

.fixed-content {
  position: fixed; }

.header {
  background: #fff;
  color: #000; }
  .header a {
    color: #000; }
    .header a:hover {
      color: #000; }
  .header .logo {
    text-transform: uppercase; }
  .header .menuButton {
    z-index: 100;
    float: right;
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    display: none; }
    @media screen and (max-width: 767px) {
      .header .menuButton {
        display: block; } }
    .header .menuButton.open .menuButton__line {
      background-color: #fff; }
      .header .menuButton.open .menuButton__line_top {
        transform: scale(1) rotate(-45deg) translate(-1px, 2px); }
      .header .menuButton.open .menuButton__line_bottom {
        transform: scale(1) rotate(45deg) translateY(4px); }
    .header .menuButton.hovered:not(.open) .menuButton__line_bottom {
      transform: scaleX(1); }
    .header .menuButton .menuButton__line {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      will-change: transform;
      background-color: #000;
      transition: -webkit-transform .35s;
      transition: transform .35s;
      transition: transform .35s,-webkit-transform .35s;
      box-shadow: 1px 1px 1px transparent;
      -webkit-backface-visibility: hidden; }
      .header .menuButton .menuButton__line_top {
        top: 6px; }
      .header .menuButton .menuButton__line_bottom {
        top: 12px;
        transform: scaleX(0.62);
        transform-origin: right bottom; }

.home-search.jumbotron {
  background-color: #fff; }
  .home-search.jumbotron h1 {
    position: relative; }
    .home-search.jumbotron h1::after {
      content: " ";
      width: 80px;
      height: 7px;
      background-color: #333;
      position: absolute;
      bottom: -28px;
      left: 50%;
      margin-left: -40px; }

.filler-empty h2 {
  font-size: 50px;
  color: #dfe1e6;
  margin: 0; }

.flex-aligment-center {
  display: flex;
  font-family: "MullerMedium"; }
  @media screen and (max-width: 767px) {
    .flex-aligment-center {
      display: block;
      text-align: center; }
      .flex-aligment-center img {
        float: left; } }

.content {
  border: none;
  box-shadow: none; }
  .content pre {
    background-color: #f5f5f5; }
  @media screen and (max-width: 767px) {
    .content {
      padding: 0px;
      margin: 20px 0; } }

.CodeMirror pre {
  background-color: transparent; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #000; }
  .footer .copyright {
    margin: 20px 40px;
    color: #fff; }
    .footer .copyright a {
      color: #666; }
      .footer .copyright a:hover {
        color: #fff;
        text-decoration: none; }

.last-updated {
  color: #b9b9b9;
  font-size: 10px; }
  @media screen and (max-width: 1024px) {
    .last-updated {
      padding-bottom: 18px;
      text-align: left; } }

.menu {
  margin: 96px 45px 40px; }
  .menu .category-title {
    font-size: 14px; }
  @media screen and (max-width: 1024px) {
    .menu {
      margin: 96px 0px 40px; } }

.hljs-keyword {
  color: #b24fb9; }

.hljs-string {
  color: #73ad4f; }

.hljs-number {
  color: #ff6f40; }

.page-excerpt .search-query {
  background: #fff000; }

.form-top-right {
  width: 50px;
  padding-right: 20px; }
